<div class="section section-history">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1">
                <div class="content-text">
                    <div class="title">
                        <h1 [innerHTML]="history[0].mainTitle"></h1>
                    </div>
                    <div class="description-text">
                        <div [class]="text"  [innerHTML]="history[0].description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>